body {
	margin: 0;
	background-color: #666;
}

#wrapper {
	background-color: #fff;
	height: 480px;
	width: 320px;
	margin: 0 auto;

	position: relative;
	overflow: hidden;
}

.listview {
	margin:0;
	padding:0;

	width: 260px;
}
	.listview li {
		list-style: none;
	}

.page {
	background-color: #eee;

	height: 480px;
	width: 320px;

	position: absolute;
	top:0;
	left: 0;

	box-shadow: 0 0 30px rgba(0,0,0, 0.7);

	-webkit-transition: all 1s ease-out;
}
.page .content {
	-webkit-transition: all 1s ease-out;
}

.page.open {
	left: 260px;
}
	.page.open .content {
		opacity: 0;
	}

	.page .header {
		position: relative;
		height: 50px;
		background-color: #444;
	}
		.page .header .btn {
			position: absolute;
			top: 10px;

			line-height: 30px;
			height: 30px;
			width:40px;
			border: 1px solid #fff;
			border-radius: 7px;

			color:#fff;
			text-decoration: none;

		}
		.page .header .btn.btn-left {
			left:10px;
		}
		.page .header h1 {
			color: #fff;
			margin:0;
			text-align: center;
		}
